#nav2{
	background: #aaa;
}

#nav2 img{
	margin: 5% auto;
}

#nav2 .navbar-right ul li{
	display: inline-block;
	margin: 10%;
	
}

#nav2 .navbar-right ul{
	text-align: right;
}

#content .link .row{
	margin-top: 2%;
}


#content .databox{
	margin: 20px auto;
}

#content .databox .col-sm-1 p{
	text-align: center;
}

#content .content-end{
	margin: 1% auto;

}


.post-box .row{
	border: 1px solid gray;
	width: 100%;
	margin: 0 auto;

}

.post-box{
	margin: 20px auto;
}

#content img{
	width: 100%;
}

#content .title{
	background: #666;
	padding: 1%;
}


.databox ul li{
	display: inline-block;
}

.databox .row{
	border: 1px solid gray;
	padding: 2%;

}

#footer{
	background: gray;
}

#footer .navbar-right ul li{
	display: inline-block;
}

#team-info{
	background: #111;
}

#team-info ul li{
	display: inline-block;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

#team-info ul {
	padding: 0;
}