/*common*/
.wrapper{
	margin: 0 auto;
	max-width: 1180px;
	width: 100%
}

ul{
	margin: 0;
	padding-left: 0;
	list-style-type: none; 
}

li{
	display: inline-block;
}

li a{
	color: #ccc;
	text-decoration: none;
}

.clearfix{
	clear: both;
}


/*header */

#header{
	background: #222;
	height: 40px;
	width: 100%;
	margin: auto;
}

#header .home{
	float: left;
	
}

#header .link-search{
	float: right;

	
}

#header .link{
	float: left;
	height: 40px;
	border-right: 1px solid gray ;
	margin-right: 10px;
}

#header .search{
	float: right;
	height: 100%;
	margin: 0 auto;
}

#header .search input{
	height: 50%;
	margin: 10px 20px 10px 10px;
}

#header ul{
	height: 10%;
}

#header li{
	padding: 10px;
}



/*contents*/

#contents{
	margin: 0px auto;
	background: pink;
	border: 1px;
	position: relative;

}
#contents .menu{
	height: 50px;
	width: 1129px;
	margin: auto;
	background: #fff;
	border: 1px solid black;
}
#contents .menu ul{
	margin: 10px;
	text-align: center;
}

#contents .menu ul li{
	padding: 10px;
	margin: 0 20px;
	font-size: 16px;
}

#contents .menu ul li a{
	
	color: black;
}

#contents .logo{
	margin: auto;
	text-align: center;

}

#contents .logo img{
	margin: 50px;
}


#contents .show{
	width: 100%;
	border: 1px solid black;

}

#contents .show .main{
	width: 60%;
	border: 1px solid black;
	display: inline-block;
	height: 2000px;
	float: left;

}

#contents .show .side-bar{
	width: 30%;
	border: 1px solid black;
	display: inline-block;
	height: 1000px;
	float: right;

}

#footer {
	margin: 0px auto;
	background: orange;
	border: 1px;
	position: relative;
}

#footer .others{
	border: 1px solid black;
	position: relative;
	width: 100%;
	
	margin-top: 20px;

}

#footer .block{
	display: inline-block;
	float: left;
	width: 350px;
	height: 350px;
	border: 1px solid black;
	margin-right: 20px;
	margin-top: 20px;


}

#copyright {
	background: gray;
	height: 90px;
}


