ul{
	margin: 0;
	padding-left: 0;
	list-style-type: none; 
}

li{
	display: inline-block;
}

li a{
	color: #ccc;
	text-decoration: none;
}

.clearfix{
	clear: both;
}

.wrapper{
	margin: 0 auto;
	width: 1180px;
}

/*main 個別調整 */
#header .login{
	float: left;
	background: #F5F5F5;
}

#header li{
	text-transform: uppercase;
	padding: 5px 10px;
}


#header .social-media{
	float: right;
}

#header #tools{
	background: #F5F5F5;
	padding: 10px 0;
}

#logo {
	text-align: center;
	padding: 45px 0;
}

#nav{
	border-top: 1px solid #ccc;
}

#nav ul{
	float: left;
}

#nav .search{
	float: right;
	padding: 25px 0;
}

#nav li a{
	display: inline-block;
	color: #333;
	text-transform: uppercase;
	padding: 25px 30px;
}

#nav li{

}

#banner{
	width: 100%;
}

#banner .image {
	width: 50%;
	float: left;
	margin: 0px;
	padding: 0;
	border: 10px;
	background: white;
	
}

#banner .image img{
	width: 100%;
}

#banner .image .info{
	background: #fff;
}

#banner .info{
	padding: 25px;
	background: #fff;
	border-right:  1px solid #ccc;
}

#banner .info .content{
	text-align: center;
	margin-bottom: 30px;
}

#banner .info .detail>div{
	display: inline-block;
	padding: 0 15px;
}

#banner .info .header{
	color: #87C2B9;
}

#banner .info h2{
	font-weight: normal;
	font-size: 2.4em;
	margin: 15px 0px;
}

#banner .detail{
	color: #aaa;
}


#content{
	background: pink;

}

.show-case{
	margin: 50px 0 0 0;
	height: 100%;

}

.show-case .large{
	width: 770px;
	
}

.show-case .small{
	width: 370px;
	font-size: 0.8em;
}

.show-case img{
	width: 100%;
}

.show-case .small .image{
	overflow: hidden;
	height: 245px;
}

.show-case .small .detail>div{
	padding: 10px;


} 

.show-case .small .info .content{
	margin-bottom: 0;
}



.show-case .small img{
	height: auto;
}

.show-case .small .work{
	margin: 0;
}

.show-case .small>div:first-child{
	margin: 0 0 20px 0;
}

.show-case .small>div:nth-child(2){
	margin: 20px 0 0 0;
}

.show-case>div:first-child{
	float: left;
}

.show-case>div:nth-child(2){
	float: right;
}

.show-case .info{
	padding: 25px;
	background: #fff;
}

.show-case .info .content{
	text-align: center;
	margin-bottom: 30px;
}

.show-case .info .detail>div{
	display: inline-block;
	padding: 0 15px;
}

.show-case .info .header{
	color: #87C2B9;
}

.show-case .info h2{
	font-weight: normal;
	font-size: 2.4em;
	margin: 15px 0px;
}

.show-case .detail{
	color: #aaa;
}

.show-case .share{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 8px 0;
	text-align: center;
}

.show-case .share li{
	padding: 0 15px;
}



.load-more{
	text-align: center;
	margin: 60px auto;
	background: #fff;
	width: 184px;
}

.load-more .work{
	margin: 10px;
	padding: 10px;
	border: 10px;
}

.load-more .work a{
	font-size: 20px;
}

.ad1{
	margin: 90px 0 50px 0;
	width: auto;
}

.ad2{
	margin: 90px 0 40px 0;
	width: auto;
}

.show-case-2{
	margin: auto;
	height: 600px;
}
.show-case-2 .work{
	background: #fff;
	margin-bottom: 30px;
}

.show-case-2 >div:first-child{
	width: 370px;
	overflow: hidden;
	float: left;
	margin: 15px 15px 15px 0px;
}
.show-case-2 >div:nth-child(2){
	width: 370px;
	overflow: hidden;
	float: left;
	margin: 15px;
}
.show-case-2 >div:last-child{
	width: 370px;
	overflow: hidden;
	float: right;
	margin: 15px 15px 15px 0px;
}
.show-case-2 .work img{
	width: 100%;
}

.show-case-2 .info{
	padding: 25px;
	background: #fff;
}

.show-case-2 .info .content{
	text-align: center;
	margin-bottom: 30px;
}

.show-case-2 .info .detail>div{
	display: inline-block;
	padding: 0 15px;

}

.show-case-2 .info .header{
	color: #87C2B9;
}

.show-case-2 .info h2{
	font-weight: normal;
	font-size: 1.4em;
	margin: 15px 0px;
}

.show-case-2 .detail{
	color: #aaa;
	font-size: 0.5em;
}

.show-case-2 .share{
	font-size: 0.5em;
}



/*footer */
#footer .contact{
	height: 80px;
	margin: 0px;
	padding: ;: 35px;
	text-align: center;
	background: green;
}

#footer ul{
	padding:30px;
}

#footer ul li{
	font-size: 20px;
	display: inline;
	margin: 10px;
	padding: 20px;
}

#footer .bottom-pic{
	width: 100%;
	margin: 0;
}

#footer .bottom-pic img{
	width: 16.666666%;
	float: left;
	margin: 0px;
	padding: 0;
	background: white;
}
